.ratingDownloadsMain{
    font-size: .875rem;
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.rating, .downloads{
    display: flex;
    gap: 5px;
}

.rating span{
    color: yellow;
}

.downloads span{
    color: var(--text-color-active);
}