.streamPageMain{
    flex-direction: column;
}

.featuredStreamsMain{
    width: 100%;
    display: flex;
    gap: 20px;
}

.featuredStreamsMain .titledContainerMain:nth-child(1){
    flex-basis: calc(100%/3 * 2);
}

.featuredStreamsMain .titledContainerMain:nth-child(2){
    flex-basis: calc(100%/3);
}

.featuredStreams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.popularStreams{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.popularStreams .activeStreamMain{
    flex-basis: 25%;
}

.topStreamers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.topStreamers div:last-child{
    border: none;
    padding-bottom: 0;
}