.titledContainerMain{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    font-weight: bold;
    font-size: 2.125em;
    padding: 30px;
    padding-bottom: 50px;
    width: 100%;
    position: relative;
}

.titledContainerTitle{
    color: var(--text-color-active);
    text-transform: capitalize !important;
    margin-bottom: 30px;
    white-space: nowrap;
}

.titledContainerTitle > span{
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
}

.titledContainerButton{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -22.5px;
}